.git
.DS_Store

**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/.env
**/.env.*
!**/.env.example

**/data
**/coverage
**/__pycache__
**/.pytest_cache
**/*.pyc
**/screenshots

bots/extrator/*.json
