.DS_Store

node_modules/
**/node_modules/

.env
.env.*
!.env.example

data/
**/data/
coverage/
**/coverage/

__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
*.pyc

screenshots/
**/screenshots/

bots/extrator/*.json
